*, *::before, *::after{
    --MainBgColor:rgb(248, 247, 247);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    /*outline: 1px solid red;*/
}

@font-face {
    font-family: ponteBold;
    src: url(fonts/pontebold.ttf);
}

@font-face {
    font-family: MirageMedium;
    src: url(fonts/Mirage-Medium.otf);
}

@font-face {
    font-family: clarissa;
    src: url(fonts/Clarissa.ttf);
}


.initialMsg{
    height: 100svh;
    width: 100lvw;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color:var(--MainBgColor);
    position: absolute;
    top: 0%;
    left: 0%;

    animation-name: disappear2;
    animation-duration: 1s;
    animation-delay: 17s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.initialTxt{
    width: 80svw;
    height: auto;
}


.home{
    height: 100svh;
    width: 100svw;
    background-color: var(--MainBgColor);
    display: grid;
}

.header{
    width: 100%;
    height: 8svh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    position: absolute;
    top: 0%;
    z-index: 2;
}

.menu{
    height: 4.5svh;
    width: 4.5svh;
    align-self: center;
    justify-self: end;
    margin-right: 10%;

    /*background-color: rgb(19, 207, 213);*/
    grid-column-start: 3;
    grid-column-end: 4;
    z-index: 10;
}

.menuButton{
    height: 100%;
    width: 100%;
    background: none;
    cursor: pointer;
}

.hamCircle {
  fill: #fff;
  transform: scale(1);
  transform-origin: center;

  transition: transform 0.4s cubic-bezier(0.31, -0.01, 0.22, 1.39);
}

.hamOutCircle {
  fill: #fff;
  transform: scale(1);
  transform-origin: center;
}

.hamCross {
  fill: #fff;
  transform: scale(0);
  transform-origin: center;
  transition: transform 0.3s cubic-bezier(0.25, 0.09, 0.64, 1.6);
}

.hamCircleFocus{
    transform: scale(0);
}

.hamCrossFocus{
    transform: scale(1);
}

.introArea{
    width: 85svw;
    height: 20svh;
    position: absolute;
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    justify-self: center;
    top: 30%;
    /*background-color: rgb(103, 160, 95);*/
    grid-column-start: 2;
    grid-column-end: 3;
}

.leftName{
    color: #fff;
    justify-self: start;
    align-self: center;
    font-family: clarissa;
    font-weight: 100;
    font-size: 2.2em;
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.8));
}

.rightName{
    color: #fff;
    justify-self: end;
    align-self: center;
    font-family: clarissa;
    font-weight: 100;
    font-size: 2.2em;
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.8));
}

.emblem{
    position: relative;
    right: 4.5%;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.8));
}

.announcement{
    color: #ffffff;
    justify-self: center;
    align-self: center;
    grid-column-start: 1;
    grid-column-end: 4;
    font-family: clarissa;
    font-size: 4em;
    font-weight: normal;
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.8));
}

.backgroundGallery{
    height: 100svh;
    width: 100lvw;
    display: flex;
    position: absolute;
    top: 0%;
    background-color: var(--MainBgColor);
    z-index: 1;
    flex-direction: column;
}

.multiply{
    position: absolute;
    opacity: 80%;
    will-change: opacity;
    mix-blend-mode:multiply;
    height: 84svh;
    width: 100lvw;
    z-index: 5;

}

.galleryFixed{
    height: 84svh;
    width: 100lvw;
    clip-path: url(#galleryMask);
    mask-image: linear-gradient(200deg, rgb(0, 0, 0) 60%, rgba(255, 255, 255, 0) 85%);
    
}

.galleryFixedImg{
   height: 100%;
   width: 100%;
   object-fit: cover;
   object-position: center;
   position: relative;
   z-index: 2;
}

.dateTextBox{
    height: 43.5svh;
    width: 100svw;
    position: absolute;
    z-index: 100;
    bottom: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.dateArea{
    height: 23svh;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    align-self: center;
    justify-items: center;
    align-items: center;
    position: relative;
    z-index: 3;
    
}

.dateDay{
    font-family: ponteBold;
    align-self: self-end;
    letter-spacing: 0em;
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 10em;
    transform: scale(1.2,1.3);
    background: -webkit-linear-gradient(90deg, #ffffff 100%, #ffffff 0%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.9));
}

.dateMonth{
    color: #1e1e1e;
    font-family: clarissa;
    align-self: flex-end;
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 6em;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.4));
}

.dateYear{
    color: #1e1e1e;
    position: relative;
    align-self: flex-end;
    font-family: MirageMedium;
    letter-spacing: 0em;
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 2.5em;
    top: 1.5%;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.4));
}

.objectBox{
    position: absolute;
    top: 0%;
}

.dateText{
    position: relative;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    color: #1e1e1e;
    font-family: clarissa;
    font-size: 2.8em;
    line-height: 0.76em;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0));
    justify-items: center;
    align-items: flex-end;
}

#dateCounter{
    position: relative;
    color: #1e1e1e;
    font-family: MirageMedium;
    font-size: 0.9em;
    line-height: 0.9em;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0));
    grid-row-start: 2;
    grid-row-end: 3;
    justify-items: center;
    align-items: flex-start;
}

.downArrow{
    height: 2svh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    top: 1.5%;
    
}

.downArrow > img{

    height: 100%;
}

.svgTxt {
    fill: var(--MainBgColor);
    animation-name: appear1;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    animation-fill-mode: forwards;
}

.line1{
    animation-delay: 1s;
}

.line2{
    animation-delay: 1.5s;
}

.line3{
    animation-delay: 2s;
}

.line4{
    animation-delay: 2.5s;
}

.line5{
    animation-delay: 2.75s;
}

.line6{
    animation-delay: 3.2s;
}

.line7{
    animation-delay: 4.5s;
}

.line8{
    animation-delay: 5s;
}

.line9{
    animation-delay: 5.5s;
}

.line10{
    animation-delay: 6s;
}

.line11{
    animation-delay: 6.5s;
}

.line12{
    animation-delay: 7s;
}

.line13{
    animation-delay: 8s;
}

.line14{
    animation-delay: 8.5s;
}

.line15{
    animation-delay: 9s;
}

.line16{
    animation-delay: 9.5s;
}


@keyframes appear1{
    from{
        fill: var(--MainBgColor);
    }
    to{
        fill: rgb(255, 255, 255);
    }
}

.invitationTextBox{
    height: 103svh;
    width: 100svw;
    background-color: rgb(248, 247, 247);
    display: grid;
    align-items: center;
}

.invitationText{
    height: 70svh;
    width: 100%;
    display: grid;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    bottom: 5%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(16, 1fr);
}

.mainText1{
    font-family: mirageMedium;
    text-align: center;
    font-size: 1.6em;
    line-height: 1em;
}

.mainText2{
    font-family: clarissa;
    text-align: center;
    font-size: 2em;
    line-height: 0.9em;
}

#text01{
    display: grid;
    grid-row-start: 1;
    grid-row-end: 4;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 2;
}

#text02{
    display: grid;
    grid-row-start: 5;
    grid-row-end: 7;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 2;
}

#text03{
    display: grid;
    grid-row-start: 8;
    grid-row-end: 9;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 2;
}

#text04{
    display: grid;
    grid-row-start: 10;
    grid-row-end: 12;
    align-items: start;
    grid-column-start: 1;
    grid-column-end: 2;
}

#text05{
    display: grid;
    grid-row-start: 13;
    grid-row-end: 16;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 2;
}