*, *::before, *::after{
    --MainBgColor:rgb(248, 247, 247);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    /*outline: 1px solid red;*/
}

body{
    background-color: var(--MainBgColor);
}

@font-face {
    font-family: ponteBold;
    src: url(fonts/pontebold.ttf);
}

@font-face {
    font-family: MirageMedium;
    src: url(fonts/Mirage-Medium.otf);
}

@font-face {
    font-family: MirageRegular;
    src: url(fonts/Mirage-Regular.otf);
}

@font-face {
    font-family: clarissa;
    src: url(fonts/Clarissa.ttf);
}


.initialMsg{
    height: 100svh;
    width: 100lvw;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color:var(--MainBgColor);
    position: absolute;
    top: 0%;
    left: 0%;

    animation-name: disappear2;
    animation-duration: 1s;
    animation-delay: 17s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.initialTxt{
    width: 80svw;
    height: auto;
}


.home{
    height: 100svh;
    width: 100svw;
    background-color: var(--MainBgColor);
    display: grid;
}

.header{
    width: 100%;
    height: 8svh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    position: absolute;
    top: 0%;
    z-index: 2;
}

.menu{
    height: 4.5svh;
    width: 4.5svh;
    align-self: center;
    justify-self: end;
    margin-right: 10%;

    /*background-color: rgb(19, 207, 213);*/
    grid-column-start: 3;
    grid-column-end: 4;
    z-index: 10;
}

.menuButton{
    height: 100%;
    width: 100%;
    background: none;
    cursor: pointer;
}

.hamCircle {
  fill: #fff;
  transform: scale(1);
  transform-origin: center;

  transition: transform 0.4s cubic-bezier(0.31, -0.01, 0.22, 1.39);
}

.hamOutCircle {
  fill: #fff;
  transform: scale(1);
  transform-origin: center;
}

.hamCross {
  fill: #fff;
  transform: scale(0);
  transform-origin: center;
  transition: transform 0.3s cubic-bezier(0.25, 0.09, 0.64, 1.6);
}

.hamCircleFocus{
    transform: scale(0);
}

.hamCrossFocus{
    transform: scale(1);
}

.introArea{
    width: 85svw;
    height: 20svh;
    position: absolute;
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    justify-self: center;
    top: 30%;
    /*background-color: rgb(103, 160, 95);*/
    grid-column-start: 2;
    grid-column-end: 3;
}

.leftName{
    color: #fff;
    justify-self: start;
    align-self: center;
    font-family: clarissa;
    font-weight: 100;
    font-size: 2.2em;
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.8));
}

.rightName{
    color: #fff;
    justify-self: end;
    align-self: center;
    font-family: clarissa;
    font-weight: 100;
    font-size: 2.2em;
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.8));
}

.emblem{
    position: relative;
    right: 4.5%;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.8));
}

.announcement{
    color: #ffffff;
    justify-self: center;
    align-self: center;
    grid-column-start: 1;
    grid-column-end: 4;
    font-family: clarissa;
    font-size: 4em;
    font-weight: normal;
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.8));
}

.backgroundGallery{
    height: 100svh;
    width: 100lvw;
    display: flex;
    position: absolute;
    top: 0%;
    background-color: var(--MainBgColor);
    z-index: 1;
    flex-direction: column;
}

.multiply{
    position: absolute;
    opacity: 80%;
    will-change: opacity;
    mix-blend-mode:multiply;
    height: 84svh;
    width: 100lvw;
    z-index: 5;

}

.galleryFixed{
    height: 84svh;
    width: 100lvw;
    clip-path: url(#galleryMask);
    mask-image: linear-gradient(180deg, rgb(0, 0, 0) 60%, rgba(255, 255, 255, 0.042) 90%);
    
}

.galleryFixedImg{
   height: 100%;
   width: 100%;
   object-fit: cover;
   object-position: center;
   position: relative;
   z-index: 2;
}

.dateTextBox{
    height: 43.5svh;
    width: 100svw;
    position: absolute;
    z-index: 100;
    bottom: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.dateArea{
    height: 23svh;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    align-self: center;
    justify-items: center;
    align-items: center;
    position: relative;
    z-index: 3;
    
}

.dateDay{
    font-family: ponteBold;
    align-self: self-end;
    letter-spacing: 0em;
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 10em;
    transform: scale(1.2,1.3);
    background: -webkit-linear-gradient(90deg, #ffffff 100%, #ffffff 0%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.9));
}

.dateMonth{
    color: #1e1e1e;
    font-family: clarissa;
    align-self: flex-end;
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 6em;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.4));
}

.dateYear{
    color: #1e1e1e;
    position: relative;
    align-self: flex-end;
    font-family: MirageMedium;
    letter-spacing: 0em;
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 2.5em;
    top: 1.5%;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.4));
}

.objectBox{
    position: absolute;
    top: 0%;
}

.dateText{
    position: relative;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    color: #1e1e1e;
    font-family: clarissa;
    font-size: 2.8em;
    line-height: 0.76em;
    -webkit-text-stroke: 0.4px #1e1e1e;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0));
    justify-items: center;
    align-items: flex-end;

}

#dateCounter{
    position: relative;
    color: #1e1e1e;
    font-family: MirageMedium;
    font-size: 0.9em;
    line-height: 0.9em;
    -webkit-text-stroke: 0px;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0));
    grid-row-start: 2;
    grid-row-end: 3;
    justify-items: center;
    align-items: flex-start;
}

.downArrow{
    height: 2svh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    top: 1.5%;
    
}

.downArrow > img{

    height: 100%;
}

.svgTxt {
    fill: var(--MainBgColor);
    animation-name: appear1;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    animation-fill-mode: forwards;
}

.line1{
    animation-delay: 1s;
}

.line2{
    animation-delay: 1.5s;
}

.line3{
    animation-delay: 2s;
}

.line4{
    animation-delay: 2.5s;
}

.line5{
    animation-delay: 2.75s;
}

.line6{
    animation-delay: 3.2s;
}

.line7{
    animation-delay: 4.5s;
}

.line8{
    animation-delay: 5s;
}

.line9{
    animation-delay: 5.5s;
}

.line10{
    animation-delay: 6s;
}

.line11{
    animation-delay: 6.5s;
}

.line12{
    animation-delay: 7s;
}

.line13{
    animation-delay: 8s;
}

.line14{
    animation-delay: 8.5s;
}

.line15{
    animation-delay: 9s;
}

.line16{
    animation-delay: 9.5s;
}


@keyframes appear1{
    from{
        fill: var(--MainBgColor);
    }
    to{
        fill: rgb(255, 255, 255);
    }
}

.invitationTextBox{
    height: 125lvh;
    width: 100svw;
    background-color: rgb(248, 247, 247);
    display: grid;
    align-items: center;
}

.invitationText{
    height: 85lvh;
    width: 100%;
    display: grid;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    bottom: 2%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(24, 1fr);
}

.mainText1{
    font-family: mirageMedium;
    text-align: center;
    position: relative;
    z-index: 1;
    font-size: 1.5rem;
    line-height: 1em;
    color: #1e1e1e;
}

.mainText2{
    font-family: clarissa;
    position: relative;
    z-index: 2;
    -webkit-text-stroke: 0.5px #1e1e1e;
    color: #1e1e1e;
    text-align: center;
    font-size: 2.3rem;
    line-height: 1em;
}

.subText1{
    padding-right: 2%;
    font-weight: 100;
    -webkit-text-stroke: 1.5px #ffffff;
}

.subText2{
    font-family: mirageMedium;
    text-align: center;
    position: relative;
    font-size: 0.4em;
    line-height: 1em;
    color: #1e1e1e;
    bottom: 10%;
}

.parentBox{
    display: grid;
    grid-row-start: 5;
    grid-row-end: 19;
    padding-left: 5%;
    padding-right: 5%;
    grid-template-rows: repeat(22, 1fr);
    align-items: center;
}

#text01{
    display: grid;
    grid-row-start: 1;
    grid-row-end: 4;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 2;

}

#text02{
    display: grid;
    grid-row-start: 1;
    grid-row-end: 4;
    align-items: center;
    align-self: start;
    justify-content: center;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
    color: #3e3e3e;
}

#textAmpersand{
    display: grid;
    grid-row-start: 10;
    grid-row-end: 13;
    align-items: center;
    align-self: center;
    justify-content: center;
    text-align: center;
    font-size: 3em;
}

#text03{
    display: grid;
    grid-row-start: 6;
    grid-row-end: 10;
    align-items: center;
    align-self: center;
    justify-content: center;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
    color: #3e3e3e;
}

#text04{
    display: inline-block;
    grid-row-start: 14;
    grid-row-end: 18;
    align-items: center;
    justify-content: start;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
    color: #3e3e3e;
}

#text05{
    display: grid;
    grid-row-start: 19;
    grid-row-end: 23;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
}

#text06{
    display: grid;
    grid-row-start: 20;
    grid-row-end: 25;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 2;
}

.mainGallery{
    position: relative;
    height: 108lvh;
    width: 100svw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.galleryView{
    width: 100%;
    height: 73%;
    display: flex;
    align-items: center;
    position: relative;
}

.galleryText{
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0%;
    width: 100%;
    height: 27%;
    align-items: center;
}

.galleryPhotos{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    clip-path: url(#galleryMask2);
    mask-image: linear-gradient(200deg, rgba(255, 255, 255, 0) 17%,rgb(0, 0, 0) 25%, rgb(0, 0, 0) 70%, rgba(255, 255, 255, 0) 90%);
   
}

.photoFrame{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.galleryButtons{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.leftgalBtn{
    position: relative;
    height: 100%;
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    padding-left: 4%;
}

.rightgalBtn{
    position: relative;
    height: 100%;
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    padding-right: 4%;
}

.leftIcon{
    filter: drop-shadow(3px 5px 3px rgba(36, 36, 36, 0.423));
}

.rightIcon{
    filter: drop-shadow(3px 5px 3px rgba(36, 36, 36, 0.423));
}

.margin1{
    padding-left: 10%;
    padding-right: 10%;
}

.scheduleSection{
    position: relative;
    width: 100svw;
    height: 150svh;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    padding-top: 4%;
}

.progressLine{
    position: relative;
    height: 95%;
    width: 0.8%;
    background-color: #3e3e3e;
    display: flex;
    justify-content: center;
    bottom: 2%;
}

.progressStartDot{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #3e3e3e;
    top: 0%;
    border-radius: 100%;
}

.progressEndDot{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #3e3e3e;
    bottom: 0%;
    border-radius: 100%;
}

.solidBackground{
    background-color: var(--MainBgColor);
}

.activityBox{
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(23, 1fr);
}

.activityBgr{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.iconImg{
    position: relative;
    width: auto;
    height: 8svh;
    z-index: 10;
    background-color:var(--MainBgColor);
    padding: 1%;
    border-radius: 100%;
}

.iconImg2{
    position: relative;
    width: auto;
    height: 8svh;
    z-index: 10;
    background-color:var(--MainBgColor);
    padding: 1%;
    border-radius: 0%;
}

#icon1{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

#act1{
    grid-row-start: 2;
    grid-row-end: 4;
    background: -webkit-linear-gradient(transparent 10%, rgb(248, 247, 247) 31%, rgb(248, 247, 247) 75%, transparent 95%);
    grid-column-start: 1;
    grid-column-end: 2;
}

#icon2{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
}

#act2{
    grid-row-start: 5;
    grid-row-end: 7;
    background: -webkit-linear-gradient(transparent 10%, rgb(248, 247, 247) 31%, rgb(248, 247, 247) 75%, transparent 95%);
    grid-column-start: 1;
    grid-column-end: 2;
}

#act3{
    grid-row-start: 7;
    grid-row-end: 9;
    background: -webkit-linear-gradient(transparent 0%, rgb(248, 247, 247) 20%, rgb(248, 247, 247) 80%, transparent 100%);
    grid-column-start: 1;
    grid-column-end: 2;
    align-items: center;
    justify-content: center;
}

#act4{
    grid-row-start: 9;
    grid-row-end: 11;
    background: -webkit-linear-gradient(transparent 0%, rgb(248, 247, 247) 20%, rgb(248, 247, 247) 80%, transparent 100%);
    grid-column-start: 1;
    grid-column-end: 2;
    align-items: center;
    justify-content: center;
}

#act5{
    grid-row-start: 11;
    grid-row-end: 13;
    background: -webkit-linear-gradient(transparent 0%, rgb(248, 247, 247) 20%, rgb(248, 247, 247) 80%, transparent 100%);
    grid-column-start: 1;
    grid-column-end: 2;
    align-items: center;
    justify-content: center;
}

#act6{
    grid-row-start: 13;
    grid-row-end: 15;
    background: -webkit-linear-gradient(transparent 0%, rgb(248, 247, 247) 20%, rgb(248, 247, 247) 80%, transparent 100%);
    grid-column-start: 1;
    grid-column-end: 2;
    align-items: center;
    justify-content: center;
}

#act7{
    grid-row-start: 15;
    grid-row-end: 17;
    background: -webkit-linear-gradient(transparent 0%, rgb(248, 247, 247) 20%, rgb(248, 247, 247) 80%, transparent 100%);
    grid-column-start: 1;
    grid-column-end: 2;
    align-items: center;
    justify-content: center;
}

#act8{
    grid-row-start: 17;
    grid-row-end: 19;
    background: -webkit-linear-gradient(transparent 0%, rgb(248, 247, 247) 20%, rgb(248, 247, 247) 80%, transparent 100%);
    grid-column-start: 1;
    grid-column-end: 2;
    align-items: center;
    justify-content: center;
}

#act9{
    grid-row-start: 19;
    grid-row-end: 21;
    background: -webkit-linear-gradient(transparent 0%, rgb(248, 247, 247) 20%, rgb(248, 247, 247) 80%, transparent 100%);
    grid-column-start: 1;
    grid-column-end: 2;
    align-items: center;
    justify-content: center;
}

.directionSection{
    position: relative;
    width: 100svw;
    height: 100lvh;
    background-color:var(--MainBgColor);
    display: grid;
    flex-direction: column;
    justify-items: center;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(1, 1fr);
}

.directionMap{
    width: 100%;
    height: 100%;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/56/County_Dublin_-_Holmpatrick_Church_of_Ireland_Church_-_20190615195717.jpg/800px-County_Dublin_-_Holmpatrick_Church_of_Ireland_Church_-_20190615195717.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 17;
    clip-path: url(#galleryMask);
    mask-image: linear-gradient(180deg, rgb(0, 0, 0) 65%, rgba(255, 255, 255, 0.042) 95%);
}

.directionInfo{
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 10;
    grid-row-end: 15;
    display: grid;
    justify-items: center;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1fr;
    z-index: 10;
}

.buttonBox{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 85%;
    position: relative;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.infoCards{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 6;
    width: 85%;
    border-radius: 15px;
    margin-top: 2%;
    background-color: rgba(248, 247, 247, 1);
    box-shadow: 0px 8px 10px rgba(132, 132, 132, 0.639);
}

.locationTitle{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    justify-items: center;
    margin-bottom: 3%;
}

.locationTitle .lt1{
    font-family: MirageMedium;
    position: relative;
    z-index: 2;
    color: var(--MainBgColor);
    text-align: center;
    font-size: 1.4em;
    line-height: 2.2em;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.9), 0px 3px 5px rgba(0, 0, 0, 0.4);
    
}

.locationTitle .lt2{
    font-family: clarissa;
    position: relative;
    z-index: 2;
    color: #f07fbd;
    text-align: center;
    font-weight: 500;
    margin-right: 6%;
    font-size: 5.5em;
    line-height: 0.5em;
    -webkit-text-stroke: #f07fbd 0.5px;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.9), 0px 3px 5px rgba(0, 0, 0, 0.4);
    z-index: 3;
}

.locationTitle .lt3{
    font-family: MirageMedium;
    position: relative;
    z-index: 2;
    color: var(--MainBgColor);
    text-align: center;
    font-size: 1.3em;
    line-height: 0.9em;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.9), 0px 3px 5px rgba(0, 0, 0, 0.4);
}

.dirBtn{
    font-family: mirageMedium;
    text-align: center;
    position: relative;
    z-index: 1;
    font-size: 1.1rem;
    line-height: 1em;
    color: #1e1e1e;

    height: 65%;
    width: 90%;
    margin: 4%;
    border-radius: 100px;
    background-color: rgba(248, 247, 247, 0.7);
    cursor: pointer;
}

.dirBtn:focus{
    background-color: rgba(248, 247, 247, 1);
}

.divider{
    position: absolute;
    height: 80%;
    width: 2.3px;
    background-color: var(--MainBgColor);
}