*, *::before, *::after{
    --MainBgColor:rgb(29, 29, 29);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    /*outline: 1px solid red;*/
}


.initialMsg{
    height: 100svh;
    width: 100lvw;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color:var(--MainBgColor);
    position: absolute;
    top: 0%;
    left: 0%;

    animation-name: disappear2;
    animation-duration: 1s;
    animation-delay: 17s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.initialTxt{
    width: 80svw;
    height: auto;
}

.home{
    height: 100svh;
    width: 100svw;
    background-color: var(--MainBgColor);
}

.header{
    width: 100%;
    height: 8svh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    position: absolute;
    top: 0%;
    z-index: 2;
}

.menu{
    height: 4.5svh;
    width: 4.5svh;
    align-self: center;
    justify-self: end;
    margin-right: 10%;

    /*background-color: rgb(19, 207, 213);*/
    grid-column-start: 3;
    grid-column-end: 4;
    z-index: 10;
}

.menuButton{
    height: 100%;
    width: 100%;
    background: none;
    cursor: pointer;
}

.hamCircle {
  fill: #fff;
  transform: scale(1);
  transform-origin: center;

  transition: transform 0.4s cubic-bezier(0.31, -0.01, 0.22, 1.39);
}

.hamOutCircle {
  fill: #fff;
  transform: scale(1);
  transform-origin: center;
}

.hamCross {
  fill: #fff;
  transform: scale(0);
  transform-origin: center;
  transition: transform 0.3s cubic-bezier(0.25, 0.09, 0.64, 1.6);
}

.hamCircleFocus{
    transform: scale(0);
}

.hamCrossFocus{
    transform: scale(1);
}

.introArea{
    width: 85svw;
    height: 20svh;
    position: absolute;
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    justify-self: center;
    top: 4%;
    /*background-color: rgb(103, 160, 95);*/
    grid-column-start: 2;
    grid-column-end: 3;
}

.leftName{
    color: #fff;
    justify-self: start;
    align-self: center;
}

.rightName{
    color: #fff;
    justify-self: start;
    align-self: center;
}

.announcement{
    color: #fff;
    justify-self: center;
    align-self: center;
    grid-column-start: 1;
    grid-column-end: 4;
}

.backgroundGallery{
    height: 100svh;
    width: 100lvw;
    display: flex;
    position: absolute;
    top: 0%;
    background-color: var(--MainBgColor);
    z-index: 1;
    flex-direction: column;
}

.galleryFixed{
    height: 85svh;
    width: 100lvw;
    clip-path: url(#galleryMask);
}

.galleryFixed > img{
   height: 100%;
   width: 100%;
   object-fit: cover;
   object-position: center;
}

.dateArea{
    height: 30svh;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    align-self: center;
    justify-self: center;
    justify-items: center;
    align-items: center;
    position: absolute;
    bottom: 12%;
}

@font-face {
    font-family: ponteBold;
    src: url(fonts/pontebold.ttf);
}

@font-face {
    font-family: clarissa;
    src: url(fonts/Clarissa.ttf);
}

.dateDay{
    font-family: ponteBold;
    align-self: self-end;
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 11em;
    transform: scale(1.05,1.2);
    background: -webkit-linear-gradient(90deg, #ffffff00 10%, #ffffff 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.dateMonth{
    color: #fff;
    font-family: clarissa;
    align-self: flex-end;
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 6em;
}

.dateYear{
    color: #fff;
    position: relative;
    align-self: flex-end;
    font-family: ponteBold;
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 2.7em;
    top: 1%;
}